/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

/* 
#floppy {
  color: red;
  fill: red;
}

.svg use{
  color: red;
  fill: red;
} */
.floppy {
  fill: red;
}

body {}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
  padding-block-start: 120px;
  font-family: var(--font-accent);
  text-transform: uppercase;
}

.header__logo-title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  font-family: var(--font-accent);
}

.header__logo-subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin: 20px 0 25px;
  text-align: center;
}

.header__theme-menu {
  margin-block-end: 25px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-inline-start: 20px;
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
}

.header__theme-menu-button_active {
  position: relative;
  opacity: 60%;
}

.header__theme-menu-button_active:disabled::after {
  position: absolute;
  content: "▶";
  left: -13px;
  opacity: 60%;
}

.main__card-title {
  margin: 4px 10px 6px;
}

.main__card-text {
  margin: 20px 25px 26px;
}

.card__like-button {
  font-family: var(--font-accent);
  font-size: 14px;
  padding: 10px 35px;
  margin-right: 25px;
}

.like-buttons {
  display: flex;
  justify-self: end;
  margin-block-end: 25px;
}

.card__icon-button {
  padding: 6px 12px 0 0;
}

.main__card {
  margin-block-end: 50px;
}

.main__card-image-wrapper {
  position: relative;
}

.main__card-label {
  font-family: var(--font-accent);
  font-size: 14px;
  opacity: 50%;
  position: absolute;
  top: 24px;
  right: 11px;
}