:root.theme-light {
    --color-background: white;
    --color-accent: black;
    --color-label-border: white;
    --color-text-mixed: white;
    --color-core: white;

    --font-weight-text: 400;
    --font-weight-title: 700;

    --bg-image:
        repeating-linear-gradient(90deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(180deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
        linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
}

:root.theme-dark {
    --color-background: black;
    --color-accent: #00CC14;
    --color-label-border: black;
    --color-text-mixed: #00CC14;
    --color-core: black;

    --font-weight-text: 485;
    --font-weight-title: 785;

    --bg-image:
        repeating-linear-gradient(90deg, #000 0, #000 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(180deg, #000 0, #000 2px, transparent 2px, transparent 4px),
        linear-gradient(to bottom, #007f0c 0.01%, #004306 100%);
}

/* @media (prefers-color-scheme: light) {
    :root {
        --color-background: white;
        --color-accent: black;
        --color-label-border: white;
        --color-text-mixed: white;

        --font-weight-text: var(--font-weight-text-light);
        --font-weight-title: var(--font-weight-title-light);

        --color-core: white;

        --bg-image:
            repeating-linear-gradient(90deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
            repeating-linear-gradient(180deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
            linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
    }
} */

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: black;
        --color-accent: #00CC14;
        --color-label-border: black;
        --color-text-mixed: #00CC14;
        --color-core: black;

        --font-weight-text: 485;
        --font-weight-title: 785;

        --bg-image:
            repeating-linear-gradient(90deg, #000 0, #000 2px, transparent 2px, transparent 4px),
            repeating-linear-gradient(180deg, #000 0, #000 2px, transparent 2px, transparent 4px),
            linear-gradient(to bottom, #007f0c 0.01%, #004306 100%);
    }
}



