:root.theme-light {
    /* Цветовые переменные для светлой темы */
    --color-background: white;
    --color-accent: black;
    --color-label-border: white;
    --color-text-mixed: white;

    /* Вес шрифта для типографики */
    --font-weight-text: var(--font-weight-text-light);
    --font-weight-title: var(--font-weight-title-light);

    --color-core: white;

    --bg-image:
        repeating-linear-gradient(90deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(180deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
        linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
}

:root.theme-dark {
    /* Цветовые переменные для тёмной темы */
    --color-background: black;
    --color-accent: #00CC14;
    --color-label-border: black;
    --color-text-mixed: #00CC14;

    /* Вес шрифта */
    --font-weight-text: var(--font-weight-text-dark);
    --font-weight-title: var(--font-weight-title-dark);

    --color-core: black;

    /* Градиент для тёмной темы*/
    --bg-image:
        repeating-linear-gradient(90deg, #000 0, #000 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(180deg, #000 0, #000 2px, transparent 2px, transparent 4px),
        linear-gradient(to bottom, #007f0c 0.01%, #004306 100%);
}

@media (prefers-color-scheme: light) {
    :root {
        /* Цветовые переменные для светлой темы */
        --color-background: white;
        --color-accent: black;
        --color-label-border: white;
        --color-text-mixed: white;

        /* Вес шрифта для типографики */
        --font-weight-text: var(--font-weight-text-light);
        --font-weight-title: var(--font-weight-title-light);

        --color-core: white;

        /* Градиент для светлой темы*/
        --bg-image:
            repeating-linear-gradient(90deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
            repeating-linear-gradient(180deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
            linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Цветовые переменные для тёмной темы */
        --color-background: black;
        --color-accent: #00CC14;
        --color-label-border: black;
        --color-text-mixed: #00CC14;

        /* Вес шрифта */
        --font-weight-text: var(--font-weight-text-dark);
        --font-weight-title: var(--font-weight-title-dark);

        --color-core: black;

        /* Градиент для тёмной темы*/
        --bg-image:
            repeating-linear-gradient(90deg, #000 0, #000 2px, transparent 2px, transparent 4px),
            repeating-linear-gradient(180deg, #000 0, #000 2px, transparent 2px, transparent 4px),
            linear-gradient(to bottom, #007f0c 0.01%, #004306 100%);
    }
}



/* Применение основных переменных к странице */
.page {
    background-image: var(--bg-image);
    background-size: var(--bg-size);
    background-attachment: fixed;
    background-color: var(--color-background);
    color: var(--color-accent);
    font-family: var(--font-primary);
    font-variation-settings: "wght" var(--font-weight-text);
}

.header {
    border: 2px solid var(--color-accent);
    background-color: var(--color-background);
}

.main {
    font-size: 18px;
}

.main__card {
    background-color: var(--color-background);
    border: 2px solid var(--color-accent);
}

.main__card-title {
    font-variation-settings: "wght" var(--font-weight-title);
}

.main__card-text {
    font-variation-settings: "wght" var(--font-weight-text);
}

.button-save__text {
    font-variation-settings: "wght" var(--font-weight-buttons);
}

.card__like-button, .button-save {
    background-color: var(--color-background);
    color: var(--color-accent);
    border: 2px solid var(--color-accent);
}

.card__icon-button {
    background-color: var(--color-background);
    border: transparent;
}

.main__card-label {
    mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--color-label-border)) {
    .main__card-label {
        -webkit-text-stroke: 1px var(--color-label-border);
    }
}

@supports not (-webkit-text-stroke: 1px var(--color-label-border)) {
    .main__card-label {
      text-shadow: 
        -1px -1px 0 var(--color-label-border),
        1px -1px 0 var(--color-label-border),
        -1px 1px 0 var(--color-label-border),
        1px 1px 0 var(--color-label-border);
    }
  }
