/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    /* Шрифтовые переменные */
    --font-primary: 'Inter', sans-serif;
    /* Основной шрифт */
    --font-accent: 'PressStart2P', 'Courier New', Courier, monospace;
    /* Акцентный шрифт */

    /* Переменные толщины шрифта (для типографики карточки) */
    --font-weight-text-light: 400;
    /* Вес основного текста для светлой темы */
    --font-weight-text-dark: 485;
    /* Вес основного текста для тёмной темы */
    --font-weight-title-light: 700;
    /* Вес заголовка для светлой темы */
    --font-weight-title-dark: 785;
    /* Вес заголовка для тёмной темы */
    --font-weight-buttons: 400;

    /* Переменные для цветовой темы (начальные значения для светлой темы) */
    --color-background: white;
    --color-accent: black;
    --color-label-border: white;

    /* Цвет контура */
    --color-contour: black;
    /* Начальный цвет сердцевины */
    --color-core: white;


    /* Градиент для светлой темы*/
    --bg-image:
        repeating-linear-gradient(90deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(180deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
        linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
    --bg-size: cover;


}