/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

/* Для себя пояснение: 
1. Пропишу сначала значения для светлой темы, когда активна кнопка "АВТО"
2. Продублирую их в themes.css :root.theme-light, когда активна кнопка "СВЕТЛАЯ ТЕМА"
3. Пропишу значения переменных в :root.theme-dark, когда активна кнопка "ТЁМНАЯ ТЕМА"
4. Напишу медиазапрос только для противоположной (тёмной) темы, так как для светлой уже есть - пункт 1. */

:root {
    --font-primary: 'Inter', sans-serif;
    --font-accent: 'PressStart2P', 'Courier New', Courier, monospace;
    
    --color-background: white;
    --color-accent: black;
    --color-label-border: white;
    --color-text-mixed: white;
    --color-core: white;

    --font-weight-text: 400;
    --font-weight-title: 700;

    --bg-image:
        repeating-linear-gradient(90deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(180deg, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
        linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
}